@import url("reset.css");
body{
    box-sizing: border-box;

    color: white;
    line-height: 1.4;
}
.wrapper{
    position: relative;
}
/* -- header導覽列 -- */
header{
    background-image: url("../index-image/footer\(1440x200\).jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
    position: relative;
}
header .top-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
header .top-logo img{
    display: block;
    width: 60px;
    height: 60px;
}
header .top-logo p{
    margin-left: 15px;
}
header nav{
    float: right;
}
header nav ul{
    padding-right: 20px;
}
header nav ul li{
    float: left;
    padding: 0 10px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
}
header nav ul li a img{
    width: 20px;
}
header nav ul li a:hover{
    border-bottom: 1px solid #fff;
    color: rgb(235, 192, 136);
    transition: 1s;

    /* cursor: pointer;  */
}
header nav .shopping-cart{

}
header nav .shopping-cart a:hover img{
    width: 40px;
    transition: 1s;
}
header nav .fa-bars{
    display: none;
}
/* -- movie -- */
.wrapper .movie{
}
.wrapper iframe{
    width: 100%;
    height: 500px;
    
    display: block;  /* 為了去除影片下方的空白空間 */
}
/* -- main -- */
.wrapper main{
    width: 95%;
    margin: 0 auto;
}
.wrapper main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 30px 0;
}
.wrapper main ul li{
    flex-basis: 300px;
    text-align: center;
    padding: 20px;
}
.wrapper main ul li img{
    width: 100%;
    margin-bottom: 20px;
}
.wrapper main ul li a{
    text-decoration: none;
    display: flex;

    justify-content: center;
}
.wrapper main ul li a:hover{

}
.wrapper main ul li p{
    color: rgb(167, 132, 76);
    font-size: 24px;
    padding: 0 10px;
}
.wrapper main ul li h3{
    background-color: rgb(167, 132, 76);
    color: white;
    font-size: 24px;
    padding: 0 3px;
}
/* -- footer -- */
footer{
    background-image: url("../index-image/footer\(1440x200\).jpg");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer-logo{
    display: flex;
    align-items: center;
}
footer IMG{
    display: block;
    width: 60px;
    height: 60px;
}
footer .footer-logo p{
    margin-left: 15px;
}
footer .footer-icon{
}
footer .footer-icon a{
    color: white;
    padding-bottom: 5px;
}
footer .footer-icon a:hover{
    color: rgb(235, 192, 136);
    transition: 1s;
}
footer .footer-icon i{
    padding: 0 10px;
}
/* -- hint-word -- */
#hint-word{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* ------------------------------ RWD 麵包屑------------------------------ */
@media (max-width:1200px) {
    .wrapper main ul li{
        flex-basis: 300px;
    }
}